

*{   /* O asterisco seleciona toda a páginas*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height:100vh; */
   
    background-color:#000000;
    color: white;
    font-family:'Montserrat', sans-serif;
    line-height: 1.6;
}
.cabecalho {
    padding: 2% 0% 0% 15%;   /*primeiro valor superior, segundo valor preenchimento direito, terceiro valor preenchimento inferior, quarto valor é o preenchimento esquerdo*/
    position: sticky;
    top: 0;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(150, 152, 152, 0.9));
}
.cabecalho__menu{
    display:flex;
    gap:80px;
}

.cabecalho__menu__link{
 
    
    font-size: 1.5rem;
    color:#F6F6F6;
    text-decoration: none; /* tira a decoração do texto*/
    transition: all 0.3s ease;
    position: relative;


}


.cabecalho__menu__link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #F6F6F6;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.cabecalho__menu__link:hover::after {
    transform: scaleX(1);
}

.apresentacao {

    padding:5% 15%;
    display: flex; /*ela indica quando começaremos a usar o flexbox para posicionar nossos elementos*/
    flex-direction:column;
    align-items: center; /* alinha os itens, ao próprio elementos dele*/
    gap: 82px;
}

.apresentacao__conteudo__titulo {
    font-size:3.25rem;  /*rem é o valor da fonte/por 16*/
    
}
.titulo-destaque{ /*seleciona uma parte especifica.A classe é como um agrupamento de tipo*/
    color: #000
}

.apresentacao__conteudo__texto {
    font-size:2.5rem; /*fonte*/  
    font-family:'Montserrat', sans-serif
  }
  .apresentacao__links {
    display: flex;
    flex-direction: column; /*organiza os elementos verticalmente*/
    justify-content: space-between;  /* espaçamento entre os botões*/
    align-items:center; /* centraliza os elementos na vertical, ou na horizontal*/
    gap:32px;
   
}
.apresentacao__links__subtitulo{
    font-family:'Krona One', sans-serif;
    font-weight:400px;
    font-size:1.75rem;
   
}

.apresentacao__links__navegacao {
    /*background-color: #22D4FD; colocando cor no botão*/
    display:flex;
    justify-content: center; /*alinhar os itens */
    gap:16px; /*espaçamento entre o ícone e o texto*/
    border:2px solid #10A19D; /* o primeiro valor é o tamanho da borda, o segundo valor é sobre o tracejado, e o terceiro valor é a cor da borda*/
    width:50%; /*tamanho do botão*/
    text-align: center; /*alinhamento do texto centraliza o texto*/
    border-radius:8px; /*torna as bordas arredondadas*/
    font-size:1.75rem; /*tamanho da fonte*/
    font-weight: 700; /*tamanho da fonte */
    padding:21.5px 0px;
    text-decoration:none; /*tag para a decoração do texto*/
    color:#F6F6F6;
    font-family:"Montserrat", serif;
}

.apresentacao__links__link:hover { /*estiliza quando o mouser passar por cima*/
    background-color:#272727;
}
.apresentacao__imagem{
    flex: 1; /* Permite que a imagem ocupe o espaço necessário */
    width:80%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

}

.projeto-container {
    display:grid;
    align-items: center; /* Alinha os elementos verticalmente */
    justify-content:space-between; /* Mantém um espaço entre texto e imagem */
    margin-bottom: 40px; /* Espaço entre cada projeto */
    gap: 40px; /* Melhora o espaçamento entre texto e imagem */
    flex-wrap:no wrap; /* Garante que o texto e a imagem fiquem lado a lado  */
    margin-bottom: 40px; /* Aumenta o espaçamento entre os projetos */
    text-align: left;
}

.projeto-texto {
    flex: 1; /* Faz com que o texto ocupe o espaço disponível */
    font-size: 1.5rem;
    line-height: 1.6;
}


.apresentacao__imagem_projeto{
    flex: 1; /* Permite que a imagem ocupe o espaço necessário */
    width:90%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
   
    


}

.rodape {
    color:#F6F6F6;
    background-color:#373A40;
    padding:24px;  /*o padding é a distância entre o conteúdo e a borda*/
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size:1.5rem;
    font-weight:400;
}


@media (max-width: 1200px) {
    .cabecalho {
        padding:6%;
    }
    .cabecalho__menu{
        justify-content:center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding:5%;
       
    }
    .apresentacao__conteudo{
        width:auto;
    }
    .projeto-container {
        flex-direction: column; /* Empilha os elementos verticalmente */
        text-align: center; /* Centraliza o texto */
    }


    .projeto-texto, .apresentacao__imagem {
        max-width: 100%; /* Permite que ocupem toda a largura */
    }
   
}
